<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<script>
<!--
var URL = "https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDfc4P9sJj7Nc1b74mx_0tLX6vqO4tMZNI&size=400x250"

var alphas = ["A","B","C","D","E","F","G","H","I","J"];

function load() {
  new Ajax.PeriodicalUpdater(
    "pings", 
    "/ping/json",
    {
      parameters: "_method=put&authenticity_token=<%=form_authenticity_token %>",
      frequency: 10,
      onSuccess: function(http, data){
        if(http){

          $('reports').innerHTML = "";
          var reports = "";

          var append = "";
          var json = eval(http.responseText);
          for(var i=0; i<json.length; i++){ 
            var ping = json[i];
            if(i < alphas.length){ 
              var marker = "&markers=label:";
              marker += alphas[i];
              marker += "|";
              marker += ping.la;
              marker += ",";
              marker += ping.ln;
              append += marker;
            }
						report = "<div>";
            if(i < 10){ //>
              report += "<img src='/assets/dummy.png' class='mp icon_";
              report += alphas[i];
              report += "'/>";
            }
            report += "<div class='entry'>";
						<% if @jp -%>
            report += ping.nickname;
            report += "さんが &nbsp; ";
            report += ping.time;
            report += "前 &nbsp; に &nbsp;";
            report += ping.count;
            report += "回目 &nbsp; の鐘を撞きました。";
						<% else -%>
            report += ping.nickname;
            report += " rang the bell of the ";
            report += ping.count;
            report += " times ";
            report += ping.time;
            report += " ago";
						<% end -%>
            report += "</div>";
            report += "</div>";
            reports += report;	
          }
          $('map').src = URL + append;
          $('reports').innerHTML = reports;
          return true;
        }
      }
    }
  );
}

Event.observe(window, "load", load);
-->
</script>
<h1 style="margin-top:34px; margin-bottom:4px;">
JOYA-NO-KANE in the world
</h1>

<div>
  <img id="map" style="width:460ox; border: solid 1px;"/>
</div>

<div id="reports" >
</div>
<%= @locale %>
</body>

</html>

